# Fichiers compilés et exécutables
*.o
Mssh
test_prog
keygen

# Fichiers chiffrés
*.enc

# ==========================================
# NE JAMAIS POUSSER DE CLÉS CRYPTOGRAPHIQUES
# ==========================================
*.pub
*.pem
id_rsa*
ma_cle*
*cle_privee*