name: BigNumber CI

# pull request sur la branche main
on:
  pull_request:
    branches: 
      - main
  push :
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Install build tools
          run: sudo apt-get update && sudo apt-get install -y build-essential

        - name: Compiler le projet 
          run: make

        - name: Execution de Projet 
          run: make run

        
